# compiled binaries, including some specific hardcoded executables
*.o
*.root
genie_analysis
genie_analysis_demo
genie_analysis_lucass_cuts
genie_analysis_deltas
genie_analysis_1pi1nuc
genie_analysis_FS_transparency
genie_analysis_1p
genie_analysis_data
final_truth_FST
misc
systematics
e2a_ep

outs
doxygen_out

# My vim setup makes a lot of these
.vim
