# compiled binaries, including some specific hardcoded executables
*.o
*.root
genie_analysis
genie_analysis_demo
genie_analysis_lucass_cuts
genie_analysis_deltas
systematics
e2a_ep

# My vim setup makes a lot of these
.vim
